---
import { Icon } from 'free-astro-components'
---

<footer class="py-8 lg:py-12 border-t border-neutral-300/50">
  <div class="container">
    <div
      class="flex flex-col gap-8 lg:flex-row lg:justify-between lg:items-center"
    >
      <div class="flex flex-col gap-8">
        <a
          href="/"
          class="text-primary hover:text-secondary transition duration-300 ease-in-out"
          aria-label="Free Astro components"
        >
          <!-- <Icon icon="star" class="w-10 h-10" /> -->
           alexo dev
        </a>
        <p class="text-neutral-500">
          Código, comunidad y crecimiento.
        </p>
      </div>
    </div>
  </div>
</footer>
